# Python requirements
#
# *** Keep this file organized! ***


########################################################################
# PyPI libraries

analytics-python==1.4.0
awscli==1.31.13
beautifulsoup4==4.11.1
boto==2.42.0 # TODO: we should migrate to boto3
boto3==1.33.13
click==8.1.7
braintree==4.16.0
celery==5.3.0
coverage==6.4.4
datadog==0.40.1
django-axes==5.39.0
django-braces==1.14.0
django-celery-email==3.0.0
django-countries==7.3.2
django-crispy-forms==1.13.0  # NOTICE: higher versions break our form styling!
django-db-readonly==0.7.0
django-debug-toolbar==3.6.0
django-dynamic-fixture==3.1.2
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-formtools==2.3
django-haystack==3.2.1
django-localflavor==3.1
django-nested_admin==3.4.0
django-passwords==0.3.12
django-polymorphic==3.1.0
django-recaptcha==3.0.0
django-reversion==5.0.2
django-slack==5.18.0
django-smuggler==1.0.4
django-sql-explorer==2.4.2
django-storages==1.13.1
django-taggit==3.0.0
django-timezone-field==5.0
django-webpack-loader==0.6.0
Django==3.2.25
djangorestframework==3.13.1
datadog==0.40.1
docutils==0.16
ecs-deploy==1.13.1
djangosaml2==0.18.1
Fabric3==1.14.post1
# flake8==7.0.0  # TODO add back when we upgrade to python > 3.8
# required by the util3 server for the celery_flower service
flower==2.0.0
freezegun==1.2.2
fuzzywuzzy==0.18.0
geoip2==4.2.0
geopy==1.18.1
gitpython==3.1.42
gunicorn==18.0
holidays==0.15
html2text==2020.1.16
imgkit==1.2.2
importlib-metadata==4.13.0  # TODO: remove me when we change the way we deploy our venvs or move to containers
importlib_resources==5.12.0
lxml==4.9.1
Markdown==3.4.1
mistune==0.8.3
mock==1.0.1  # TODO: mock is now part of the Python standard library, available as unittest.mock in Python 3.3 onwards.
mysqlclient=>2.1.1
newrelic==8.5.0
oauth2.3==1.5.211
paramiko==2.11.0
phonenumbers==8.13.23
Pillow==10.2.0
pinax-announcements==4.0.0
PingdomLib3==3.0.0  # used by fab
pyOpenSSL==23.0.0
cryptography==38.0.4 # required by pyOpenSSL also TODO: remove me when we change the way we deploy our venvs or move to containers
pysaml2==6.5.1
xmlschema==2.3.1  # saml dependency; consider upgrading with saml
pysolr==3.9.0
# pysqlite3==0.4.7
python-dateutil==2.8.2
python-Levenshtein==0.12.0
python-magic==0.4.27
python-memcached==1.59
pytz==2024.1
requests-oauthlib==1.3.1
requests==2.28.1
s3cmd==2.2.0
sendgrid==6.9.7
setproctitle==1.3.2  # Needed for Datadog Gunicorn monitoring
simple-salesforce==1.12.1
six==1.16.0
stripe==7.3.0
tblib==1.7.0  # Parallel test fails if tblib is not installed
twilio==7.8.1
tzdata==2024.1
unicodecsv==0.14.1
unidecode==0.4.21
Unipath==1.1
vine==5.1.0 # see https://stackoverflow.com/questions/32757259/celery-no-module-named-five
wagtail==5.0.5
Whoosh==2.7.4

########################################################################
# Git repo libraries
# pip can't find version 0.9.5 to install. should be fine to move to a fixed version above once we get one that works
git+https://github.com/HootsuiteLabs/python-linkedin-v2.git@ba7d7d1fbcd97f61b12d0d1ade4e84d96eb3c133


########################################################################
# CAF Git repo libraries
git+https://bitbucket.org/catchafire/django-pagination-fork.git@de5f41d6de0b918eb44c000ad51adebd951e64cb
git+https://bitbucket.org/catchafire/pial-fork.git@8bcbcf6b5149beebd3ddac7dd1a27d624b660764#egg=pial
git+https://bitbucket.org/catchafire/athumb-fork.git@c787abae7238ebb0a1c1106011f005a44ba83bc1

git+https://bitbucket.org/catchafire/celery-haystack.git@33baba5b990ccba1f0954749260e9fce09f4c617#egg=celery_haystack
